In [1]:
#importing Libraries
import pandas as pd
import numpy as np
# from sklearn

In [2]:
#Ensemble techniques and bagging
#importing df
df=pd.read_csv("D:\Datascience\Prediction Model\diabetes.csv")

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
#checking for null values
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
#Checking for imbalance in the  dataset
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [7]:
#Creating x n y, Dropping the target column
X=df.drop('Outcome',axis='columns')
y=df.Outcome

In [8]:
#Scaling the values using Standard Scaler
from sklearn.preprocessing import StandardScaler
#creat scaler object
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)
X_scaled[:3]

array([[ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
         0.20401277,  0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415]])

In [9]:
from sklearn.model_selection import train_test_split
#using stratify argument to get equal portion for train and test split 
X_train,X_test,y_train,y_test=train_test_split(X_scaled,y, stratify=y, random_state=10)

In [10]:
X_train.shape

(576, 8)

In [11]:
X_test.shape

(192, 8)

In [12]:
y_train.value_counts()

0    375
1    201
Name: Outcome, dtype: int64

In [13]:
#DTC can overfit and can create high varience model
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
#Traing decision tree
scores=cross_val_score(DecisionTreeClassifier(),X,y,cv=5)
scores

array([0.68831169, 0.68831169, 0.66883117, 0.79738562, 0.74509804])

In [14]:
#This model gives 70% accuracy
scores.mean()

0.717587641117053

In [15]:
#Using Bagging classifier,oob=out of bag classifer
from sklearn.ensemble import BaggingClassifier
bag_model=BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                  n_estimators=100,#training 100 classifier
                  max_samples=0.8, #training 80%data
                  oob_score=True, random_state=0)
bag_model.fit(X_train,y_train)
bag_model.oob_score_

0.7534722222222222

In [16]:
#After bagging the model accuracy has improved
bag_model.score(X_test,y_test)

0.7760416666666666

In [17]:
#using Cross validation
bag_model=BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                            n_estimators=100,
                            max_samples=0.8,
                            oob_score=True,
                            random_state=0
                           )
scores=cross_val_score(bag_model,X,y,cv=5)
scores.mean()

0.7578728461081402

In [18]:
#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

scores=cross_val_score(RandomForestClassifier(),X,y,cv=5)
scores.mean()

0.7696205755029284

In [19]:
# Building the Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, random_state=0)
# Fitting the Model to the Training Data
model.fit(X_train, y_train)
# Predicting the Test Data
y_pred = model.predict(X_test)

In [20]:
# Evaluating the Model
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Precision:', precision_score(y_test, y_pred))
print('Recall:', recall_score(y_test, y_pred))
print('F1-score:', f1_score(y_test, y_pred))

Accuracy: 0.7864583333333334
Precision: 0.703125
Recall: 0.6716417910447762
F1-score: 0.6870229007633589